{{ partial "post-header.html" . }}
{{- $setToc := or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) -}}
{{- $headers := findRE "<h[1-3].*?>(.|\n])+?</h[1-3]>" .Content -}}
{{- $hasToc := ge (len $headers) 1 -}}
{{- $showToc := and $setToc $hasToc -}}
<section class="section">
  <div class="container">
    <div class="columns">
      {{ if $showToc }}
      <div class="column is-1 is-hidden-mobile"></div>
      <div class="column is-8">
      {{ else }}
      <div class="column is-three-fifths is-offset-one-fifth">
      {{ end }}
        <article class="content" id="post-content">
          {{- .Content -}}
        </article>
        <div>
          <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        
        var disqus_config = function () {
        this.page.url = "https://codermars.com/";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "4352c0c0-58a2-4e48-88fb-c6695c0eb765"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://coder-mars-blog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        
      </div>
      {{ if $showToc }}
      <div class="column is-hidden-mobile">
        <div class="sidebar" id="toc">
          {{ if $showToc }}
          <div class="post post-toc" id="post-toc">
            <!-- render by tocbot -->
          </div>
          {{- end }}
        </div>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
